pandas>=0.18.1   # pyup: ignore - allow all versions above this
numpy>=1.11.1  # pyup: ignore - allow all versions above this
requests
urllib3
websocket-client
websockets
msgpack
aiohttp
PyYAML
deprecation
